@import "../partials/mixin";
@import "../partials/colors";

#root {
    @include heightWidth();
}

.Container {
    @include heightWidth();
    max-width: 1700px;
    margin-inline: auto;
    background-color: $primaryBlack !important;

    @media (prefers-color-scheme: dark) {
        background-color: $primaryBlack !important;
    }

    @media (prefers-color-scheme: light) {
        background-color: $primaryWhite !important;
    }

    // overflow: hidden;
}