@import "../../../../styles/partials/mixin";
@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/mediaQueries";
$imageSize: 250px;

img {
    @include heightWidth($height: $imageSize);
    object-fit: cover;
}

.portfolio_container {

    &__heading {
        width: 100%;
        text-align: center;
        margin-inline: auto;
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 2.5vh;

        @include responsive(desktop-screens) {
            top: 0;
        }

        &___filter {
            @include displayFlex($jc: space-evenly);
            background-color: $primaryColor;
            border-radius: .5rem;
            width: 90%;
            margin-inline: auto;

            @include responsive(desktop-screens) {
                width: 80%;
            }

            p {
                cursor: pointer;
                color: $primaryWhite;
                background-color: $primaryBlur;
                padding: .2rem 1rem;
                border-radius: .5rem;
            }
        }
    }
}